<a href="https://colab.research.google.com/github/kishenvir/Test/blob/main/Day_2__Training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

dictionary has key and value
set is an unordered collection of distinct iobjects
decision making statements if, if else, if else if
looping statements do, do while 
function is a block of code to make task easier

In [16]:
dic1 = {'Name':'Zara', 'Age':7, 'Class':'First'}
print ("dict1['Name']", dic1['Name'])
dic1['Age']= 8 #update the age
print(dic1)
dic1['School'] = "DPS School" # add a new key:value
print(dic1)
print(dic1.pop('Age')) # .pop is same as del command.
print(dic1)
print(dic1.popitem()) #Remove last value in dictionary
print(dic1)
del dic1['Class']
print(dic1)

dict1['Name'] Zara
{'Name': 'Zara', 'Age': 8, 'Class': 'First'}
{'Name': 'Zara', 'Age': 8, 'Class': 'First', 'School': 'DPS School'}
8
{'Name': 'Zara', 'Class': 'First', 'School': 'DPS School'}
('School', 'DPS School')
{'Name': 'Zara', 'Class': 'First'}
{'Name': 'Zara'}

In [23]:
person = {'name': 'Phill', 'age': 22}
print('Name: ', person.get('name')) #same as person['name]
print(person['age'])
person['salary'] = 10 
print(person)
print('Gender: ', person.get('Gender', 'M'))
print(person)

Name:  Phill
22
{'name': 'Phill', 'age': 22, 'salary': 10}
Gender:  M
{'name': 'Phill', 'age': 22, 'salary': 10}

In [25]:
import copy

wordsDict = {
    "Hello": 56,
    "at" : 23 ,
    "test" : 43,
    "this" : 43,
    "who" : [56, 34, 44]
    }
wordsDict2 = wordsDict.copy()
wordsDict2["at"] = 200
wordsDict2["who"].append(222)
print(wordsDict2)
print(wordsDict)

{'Hello': 56, 'at': 200, 'test': 43, 'this': 43, 'who': [56, 34, 44, 222]}
{'Hello': 56, 'at': 23, 'test': 43, 'this': 43, 'who': [56, 34, 44, 222]}

In [39]:
#thisdict = dict('apple'='green','banana'='yellow','cherry'='red') - this won't work because it's tuple character must equal to numeric
#thisdict1 = dict(1=green,2=yellow,3=red) - this also won't work because numeric cannot equal to character
thisdict = dict(apple=1,banana=2,cherry=3)
#s=dict(a=3,b=c)
#print(s)
print(thisdict)

{'apple': 1, 'banana': 2, 'cherry': 3}

In [50]:
thisdict = {'apple':'green','banana':'yellow','cherry':'red'}
del thisdict['apple']
print(thisdict)
thisdict['Durian']= 'brown'
print(thisdict)
print(len(thisdict))
thisdict1 = copy.copy(thisdict)
print(thisdict1)
thisdict2 = copy.deepcopy(thisdict) #thisdict.copy()
thisdict2["grapes"]='green'
print(thisdict2)

{'banana': 'yellow', 'cherry': 'red'}
{'banana': 'yellow', 'cherry': 'red', 'Durian': 'brown'}
3
{'banana': 'yellow', 'cherry': 'red', 'Durian': 'brown'}
{'banana': 'yellow', 'cherry': 'red', 'Durian': 'brown', 'grapes': 'green'}

In [63]:
#old style
template = "a list : %s"
mylist = [2,3]
print(template % (mylist))
template = "%d is %s years old."
name = "John"
age = 23
print(template % (age, name))
#new style 
template ="{}+{}={}"
a =3.4567
b =4
c = 1+2
print(template.format(a,b,c))

a list : [2, 3]
23 is John years old.
3.4567+4=3

In [69]:
#Write Hello John Doe. Your Current balance is $53.44
data = ("John", "Doe",53.44)
template = "Hello %s %s. Your current balance is $%f"
print(template % (data))
#or this way
template2 = "Hello"
print("{0} {1} {2} Your current balance is {3}".format(template2,*data))

Hello John Doe. Your current balance is $53.440000
Hello John Doe Your current balance is 53.44

In [98]:
a = 6
b = 4 
if (a>3): # have to add the colon 
  a=a+4
  print(a)

10

In [75]:
#if else if
a=int(input('Enter the value of a:')) #input gives a prompt to add value
b=int(input('Enter the value of b:'))
c=int(input('Enter the value of c:'))
if(a>b and a>c): #don't forget add :
    print("a is bigger")
elif(b>c): #elif is elseif
    print("b is bigger")
else:
    print("c is bigger")

Enter the value of a:20
Enter the value of b:10
Enter the value of c:5
a is bigger

In [97]:
grade = input('What is your grade:')
if (grade=='A'):
  print("Excellent")
elif(grade=='B'):
    print("Well Done")
elif(grade=='C'):
      print("Work Harder")
else:
        print("I dont know your grade")

What is your grade:A
Excellent

In [92]:
a = []
for i in range(1,6):
 a.append(i*2)
print(a)

[2, 4, 6, 8, 10]

In [88]:
#while loop
a=1
while(a<10): 
  print(a)
  a+=1

1
2
3
4
5
6
7
8
9

In [105]:
person = ['Alfred','John']
height = [160,150]
for i, name in enumerate(person):
  h = height[i]
  print("The height of {} is {}cm".format(name, h))

The height of Alfred is 160cm
The height of John is 150cm

In [106]:
#ELSE IN LOOP
x = [1, 2, 3, 4,5] 
for i in x: 
     if i % 5 == 0: 
        print(i) 
        break #stops at the point
     else: 
      print("no break")

no break
no break
no break
no break
5

In [111]:
#define your own function
def f(x):
  return (x*x, 2+x)
print(f(3))

(9, 5)

In [112]:
def rect(a=3, b=5):
 return a*b
print (rect())
print(rect(b=8))
print(rect(b=6, a=3))

15
24
18

In [11]:
def sum1(a,*b):
 s= a
 for i in b:
  s = s +i
 return s

c=[1,2,3,4]
print(sum1(3,*c))

13

In [145]:
def isPalindrome(s): 
      
    # Using predefined function to  
    # reverse to string print(s) 
    rev = ''.join(reversed(s)) #reversed() built in function used with join() built in functon to reverse and handle the value as string('')
    print(rev)
  
    # Checking if both string are  
    # equal or not 
    if (s == rev): 
        return True
    return False
  
# main function 
s = "one"
ans = isPalindrome(s) 
  
if (ans): 
    print("Yes") 
else: 
    print("No")

eno
No

In [147]:
#Give a sequence of variable number of elements, create a function #to determine the minimum value
def f2(x):
    return min(x)
print(f2([90,3,5,8]))

3

In [16]:
#Write a Python function that takes a number as a parameter and #check the number is prime or not

def test_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True             
print(test_prime(18))

False

In [150]:
#Lambda function
l1=[1,2,3]
l2=[10,20,30]
f=lambda l1,l2:l1+l2
print(list(map(f,l1,l2)))

[11, 22, 33]

In [ ]:
#lambda example
G = lambda x,y : x*y #same with below
def G(x,y):
  return x*y

In [6]:
list_a = [1,2,3]
list_b = [10,20,30]
G=lambda list_a,list_b:list_a+list_b
print(list(map(G,list_a,list_b)))


# or like this 
def G(list_a,list_b):
  return list_a+list_b
print(list(map(G,list_a,list_b)))

[11, 22, 33]
[11, 22, 33]

In [10]:
a = [0,1,2,3] 
b = [2,4,6,8] 
print(list(map(lambda x,y:10*x+y, a,b))) # bodmas 10*0+2,10*1+4 ,10*2+6 ,10*3+8

# or this way
def G(a,b):
  return 10*a+b
print(list(map(G,a,b)))

[2, 14, 26, 38]
[2, 14, 26, 38]